.bg-col-img{
    background-image: url(../assets/images/hero_bg.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.mouse-hover{
    cursor: pointer;
}
.bg-grey{
    background-color: #f4f4f4;
}
.grupo-interno{
    background-color: white;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}
